# .gitignore
# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
.env.*
# Ignora cache e arquivos temporários do Streamlit, mas mantém o config
.streamlit/*
!.streamlit/config.toml


# Node
node_modules/
dist/
build/

# Docker
*.log
*.pid
*.sock
*.override.yaml

# Vite
.vite/

# Editor
.vscode/
.idea/
.DS_Store
